/*VARIABLES*/
:root {
	--font-min: 0.8em;
	--font-small: 0.875em;
	--font-normal: 1em;
	--font-medium: 1.2em;
	--font-large: 1.4em;
	--font-max: 2em;

	--background-default: #f3f3f3;
	--color-gray: #c0c0c0;
	--color-gray-dark: #656565;
	--color-default: #707070;
    --color-green: #36ba9b;
    --color-theme: #ea5a2e;
	/* --color-green: #77c5c6; */
	--color-blue: #39aed9;
	--color-yellow: #f5b946;
	--color-red: #d94352;
	--color-enosdev: #1d2025;

	--weight-light: 300;
	--weight-normal: 400;
	--weight-strong: 600;
	--weight-bold: 700;
	--weight-black: 900;

	--hover-color-green: #61ddbc;
	/* --hover-color-green: #addcdd; */
	--hover-color-blue: #66d4f1;
	--hover-color-yellow: #fcd277;
	--hover-color-red: #f76c82;
	--hover-color-fox: #ca3a01;
	--hover-duration: 0.3s;

	--radius-normal: 5px;
	--radius-medium: 10px;
	--radius-large: 20px;
	--radius-round: 50%;
}

/* OVERLAY */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.534);
	z-index: 2;
	display: none;
}

/*DEFAULT LOAD*/
.ajax_load {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: calc(4 * 2);
}

.ajax_load_box {
	margin: auto;
	text-align: center;
	color: #ffffff;
	font-weight: var(--weight-bold);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.ajax_load_box_circle {
	border: 16px solid #e3e3e3;
	border-top: 16px solid var(--color-theme);
	border-radius: 50%;
	margin: auto;
	width: 80px;
	height: 80px;

	-webkit-animation: spin 1.2s linear infinite;
	-o-animation: spin 1.2s linear infinite;
	animation: spin 1.2s linear infinite;
}

.ajax_load_box_title {
	margin-top: 15px;
	font-weight: var(--weight-strong);
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*AJAX RESPONSES MESSAGES*/

.ajax_response {
	position: fixed;
	padding: 20px 20px 0 0;
	z-index: 1076;
	top: 0;
	right: 0;
	width: 300px;
	max-width: 100%;
}

.ajax_response .message_time {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 4%;
	height: 5px;
	background: rgba(0, 0, 0, 0.5);
}


/*DEFAULT PAGINATOR*/

.paginator {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px auto;
}

.paginator a,
.paginator span {
	display: inline-block;
	padding: 8px 16px;
	border: 1px solid #cccccc;
	border-right: 0;
	color: #555555;
	font-weight: var(--weight-bold);
	text-decoration: none;
	transition-duration: 0.2s;
}

.paginator a:first-of-type {
	-webkit-border-radius: var(--radius-normal) 0 0 var(--radius-normal);
	-moz-border-radius: var(--radius-normal) 0 0 var(--radius-normal);
	border-radius: var(--radius-normal) 0 0 var(--radius-normal);
}

.paginator a:last-of-type {
	border-right: 1px solid #cccccc;
	-webkit-border-radius: 0 var(--radius-normal) var(--radius-normal) 0;
	-moz-border-radius: 0 var(--radius-normal) var(--radius-normal) 0;
	border-radius: 0 var(--radius-normal) var(--radius-normal) 0;
}

.paginator a:hover {
	background: var(--hover-color-fox);
	background-size: 200%;
	color: #fbfbfb;
}

.paginator span {
	background: #ff4a00;
	color:#fff
}

.paginacao {
	width: 100%;
	display: flow-root;
}
