.account-settings-fileinput {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  opacity: 0; }

.account-settings-links .list-group-item.active {
  background: transparent !important;
  font-weight: bold !important; }

.account-settings-multiselect ~ .select2-container {
  width: 100% !important; }

.material-style .account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important; }
  .material-style .account-settings-links .list-group-item.active {
    color: #212529 !important; }
